<div class="modal fade" id="send_modal" tabindex="-1" role="dialog" aria-labelledby="send_modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="send_modal">Send Bitcoin
                    </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="padding-bottom:5px">
                <form class="buysell_form" action="">
                    <div class="row form_n_group">
                        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                            <label>Currency:</label>
                            <select class="form-control m-bootstrap-select m_selectpicker">
                                <option data-icon="fab fa-btc">Bitcoin</option>
                                <option data-icon="fab fa-ethereum">Ethereum</option>
                                <option data-icon="fab fa-bitcoin">Bitcoin Cash</option>
                            </select>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                            <label>From:</label>
                            <select class="form-control m-bootstrap-select m_selectpicker" data-size="4">
                                <option>My wallet (4 BTH)</option>
                                <option>New Wallet (2 BTH)</option>
                            </select>
                        </div>
                    </div>
                    <div class="row form_n_group">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <label for="">To:</label>
                            <div class="input-group">
                                <input type="text" class="form-control m-input" placeholder="Username" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <button type="button" style="padding:5px" class="input-group-text" id="basic-addon2">
                                        <i class="la la-qrcode" style="color:#000;font-size: 31px;"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row form_n_group">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <label>Enter Amount</label>
                                <input class="form-control m-input" type="text">
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <label>&nbsp;</label>
                                <input class="form-control m-input" type="text">
                            </div>
                    </div>
                    <div class="row form_n_group">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <label for="">Description:</label>
                                <div class="input-group">
                                    <textarea class="form-control m-input" placeholder="What's this transaction for?" rows="3" aria-describedby="basic-addon2">
                                    </textarea>
                                    
                                </div>
                            </div>
                    </div>
                    <div class="row form_n_group">
                        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                            <label>Transaction Fee:</label>
                            <select class="form-control m-bootstrap-select m_selectpicker" data-size="4">
                                <option>Regular</option>
                                <option>Priority</option>
                            </select>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <label style="padding-top: 20px;">O BTC ($0.00)</label>

                                <span style="color: #2196F3;font-weight: 500;">Customize Fee</span>
                        </div>
                    </div>
                    <div class="row form_n_group">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <label style="color: rgb(84, 84, 86);font-weight:300">Estimated confirmation time 1+ hour</label>	
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer" style="border-color: transparent;padding-top: 0;">
                <button style="width:100%" type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
</div>
<div class="modal fade" id="remove_modal" tabindex="-1" role="dialog" aria-labelledby="remove_modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="remove_modal">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="padding-bottom:10px;">
                <form class="buysell_form" action="">
                    <div class="row form_n_group">
                        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                            <label>Currency:</label>
                            <select class="form-control m-bootstrap-select m_selectpicker">
                                <option data-icon="fab fa-btc">Bitcoin</option>
                                <option data-icon="fab fa-ethereum">Ethereum</option>
                                <option data-icon="fab fa-bitcoin">Bitcoin Cash</option>
                            </select>
                        </div>
                    </div>
                    <div class="row form_n_group">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <label for="">Copy & Share Address:</label>
                            <div class="input-group">
                                <input type="text" class="form-control m-input" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <button type="button" style="padding:5px" class="input-group-text copy_btn" id="basic-addon2">
                                        Copy
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row form_n_group">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <label>Enter Amount</label>
                                <input class="form-control m-input" type="text">
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <label>&nbsp;</label>
                                <input class="form-control m-input" type="text">
                            </div>
                    </div>
                    <div class="row form_n_group">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <label>Receive to:</label>
                            <select class="form-control m-bootstrap-select m_selectpicker" data-size="4">
                                <option>My bitcoin Wallet</option>
                                <option>Wallet no 3 (2 BTH)</option>
                            </select>
                        </div>
                    </div>
                    <div class="row form_n_group">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <label for="">Description:</label>
                                <div class="input-group">
                                    <textarea class="form-control m-input" placeholder="What's this transaction for?" rows="3" aria-describedby="basic-addon2">
                                    </textarea>
                                    
                                </div>
                            </div>
                    </div>
                    
                    
                </form>
            </div>
            <div class="modal-footer" style="border-color: transparent;padding-top: 0px;">
                <button style="width:100%" type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>