<div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-light ">

    <!-- BEGIN: Aside Menu -->
    <div id="m_ver_menu" class="m-aside-menu  m-aside-menu--skin-light m-aside-menu--submenu-skin-light "
     m-menu-vertical="1" m-menu-scrollable="0" m-menu-dropdown-timeout="500">
        <ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow ">
            <li class="m-menu__item " aria-haspopup="true" m-menu-link-redirect="1">
                <a href="index.html" class="m-menu__link ">
                    <i class="m-menu__link-icon fas fa-tachometer-alt"></i><span class="m-menu__link-text">Dashboard</span>
                </a>
            </li>
            <li class="m-menu__item " aria-haspopup="true" m-menu-link-redirect="1">
                <a class="m-menu__link ">
                    <i class="m-menu__link-icon fas fa-shopping-cart"></i><span class="m-menu__link-text">But
                        / Sell</span>
                </a>
            </li>
            <li class="m-menu__item " aria-haspopup="true" m-menu-link-redirect="1">
                <a href="/exchange.html" class="m-menu__link ">
                    <i class="m-menu__link-icon fas fa-exchange-alt"></i><span class="m-menu__link-text">Exchnage</span>
                </a>
            </li>
            <li class="m-menu__section ">
                <h4 class="m-menu__section-text">Transactions</h4>
            </i>
        </li>
        <li class="m-menu__item " aria-haspopup="true" m-menu-link-redirect="1">
            <a href="/bitcoin.html" class="m-menu__link ">
                <i class="m-menu__link-icon fab fa-btc"></i><span class="m-menu__link-text">Bitcoin</span>
            </a>
        </li>
        <li class="m-menu__item " aria-haspopup="true" m-menu-link-redirect="1">
            <a href="/bitcoin.html" class="m-menu__link ">
                
                <i class="m-menu__link-icon fab fa-ethereum"></i><span class="m-menu__link-text">Ethereum</span>
            </a>
        </li>
        <li class="m-menu__item " aria-haspopup="true" m-menu-link-redirect="1">
            <a href="/bitcoin.html" class="m-menu__link ">
                
                <i class="m-menu__link-icon fab fa-bitcoin"></i><span class="m-menu__link-text">Bitcoin Cash</span>
            </a>
        </li>
        <li class="m-menu__item " aria-haspopup="true" m-menu-link-redirect="1">
            <a href="/wallet.html" class="m-menu__link ">
                <i class="m-menu__link-icon fas fa-wallet"></i><span class="m-menu__link-text">Wallets</span>
            </a>
        </li>
        </ul>

    </div>

    <!-- END: Aside Menu -->
</div>