<div class="m-grid__item m-grid__item--fluid m-wrapper">

    <!-- BEGIN: Subheader -->
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h3 class="m-subheader__title ">Bitcoin</h3>
                <button type="button" class="send_rec" data-toggle="modal" data-target="#send_modal"><i class="fas fa-arrow-alt-circle-up"></i>Send</button>
                <button type="button" class="send_rec" data-toggle="modal" data-target="#remove_modal"><i class="fas fa-arrow-alt-circle-down"></i>Receive</button>
            </div>

        </div>
    </div>

    <!-- END: Subheader -->
    <div class="m-content">

        <!--Begin::Section-->
        <div class="row">
            <div class="col-xl-12">
                <div class="m-portlet m-portlet--tabs">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-tools">
                            <ul class="nav nav-tabs m-tabs m-tabs-line   m-tabs-line--left m-tabs-line--primary" role="tablist">
                                <li class="nav-item m-tabs__item">
                                    <a class="nav-link m-tabs__link active show" data-toggle="tab" href="#m_builder_page" role="tab"
                                     aria-selected="true">
                                        ALL
                                    </a>
                                </li>
                                <li class="nav-item m-tabs__item">
                                    <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_builder_header" role="tab" aria-selected="false">
                                        RECEIVED
                                    </a>
                                </li>
                                <li class="nav-item m-tabs__item">
                                    <a class="nav-link m-tabs__link " data-toggle="tab" href="#m_builder_left_aside" role="tab">
                                        SENT
                                    </a>
                                </li>
                                <li class="nav-item m-tabs__item">
                                    <a class="nav-link m-tabs__link " data-toggle="tab" href="#m_builder_left_aside1" role="tab">
                                        TRANSFERRED
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--begin::Form-->
                    <form class="m-form m-form--label-align-right m-form--fit" action="" method="POST">
                        <div class="m-portlet__body">
                            <div class="tab-content">
                                <div class="tab-pane active show" id="m_builder_page">

                                </div>
                                <div class="tab-pane" id="m_builder_header">
                                    <div class="m-portlet__body">
                                        <!--begin::Section-->
                                        <div class="m-section">
                                            <div class="m-section__content">
                                                <table class="table table-striped m-table">
                                                    <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>First Name</th>
                                                            <th>Last Name</th>
                                                            <th>Username</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <th scope="row">1</th>
                                                            <td>Jhon</td>
                                                            <td>Stone</td>
                                                            <td>@jhon</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">2</th>
                                                            <td>Lisa</td>
                                                            <td>Nilson</td>
                                                            <td>@lisa</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">3</th>
                                                            <td>Larry</td>
                                                            <td>the Bird</td>
                                                            <td>@twitter</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <!--end::Section-->
                                    </div>
                                </div>
                                <div class="tab-pane " id="m_builder_left_aside">

                                </div>
                                <div class="tab-pane " id="m_builder_left_aside1">

                                </div>
                            </div>
                        </div>
                        <div class="m-portlet__foot m-portlet__foot--fit">
                            <div class="m-form__actions">
                                <div class="row">
                                    <div class="col-lg-4"></div>
                                    <div class="col-lg-8 ">
                                        <button type="button" name="builder_submit" data-toggle="modal" data-target="#send_modal" class="btn btn-primary m-btn m-btn--icon m-btn--wide m-btn--air m-btn--custom">
                                            <span>
                                                <i class="fas fa-arrow-alt-circle-up"></i>
                                                <span>Send</span>
                                            </span>
                                        </button>
                                        <button type="button" name="builder_reset" data-toggle="modal" data-target="#remove_modal" class="btn btn-accent m-btn m-btn--icon m-btn--wide m-btn--air m-btn--custom">
                                            <span>
                                                <i class="fas fa-arrow-alt-circle-down"></i>
                                                <span>Receive</span>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!--end::Form-->
                </div>
            </div>
        </div>

        <!--End::Section-->
    </div>
</div>