<div class="m-grid__item m-grid__item--fluid m-wrapper">

    <!-- BEGIN: Subheader -->
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h3 class="m-subheader__title ">Dashboard</h3>
            </div>

        </div>
    </div>

    <!-- END: Subheader -->
    <div class="m-content">

        <!--begin:: Widgets/Stats-->
        <div class="m-portlet ">
            <div class="m-portlet__body  m-portlet__body--no-padding">
                <div class="row m-row--no-padding m-row--col-separator-xl">
                    <div class="col-md-12 col-lg-6 col-xl-3">

                        <!--begin::Total Profit-->
                        <div class="m-widget24">
                            <div class="m-widget24__item">
                                <h4 class="m-widget24__title">
                                    Bitcoin
                                </h4><br>
                                <span class="m-widget24__desc">
                                    BTH
                                </span>
                                <span class="m-widget24__stats m--font-brand">
                                    $180
                                </span>

                            </div>
                        </div>

                        <!--end::Total Profit-->
                    </div>
                    <div class="col-md-12 col-lg-6 col-xl-3">

                        <!--begin::New Feedbacks-->
                        <div class="m-widget24">
                            <div class="m-widget24__item">
                                <h4 class="m-widget24__title">
                                    Ether
                                </h4><br>
                                <span class="m-widget24__desc">
                                    ETH
                                </span>
                                <span class="m-widget24__stats m--font-info">
                                    $1349
                                </span>

                            </div>
                        </div>

                        <!--end::New Feedbacks-->
                    </div>
                    <div class="col-md-12 col-lg-6 col-xl-3">

                        <!--begin::New Orders-->
                        <div class="m-widget24">
                            <div class="m-widget24__item">
                                <h4 class="m-widget24__title">
                                    Bitcoin Cash
                                </h4><br>
                                <span class="m-widget24__desc">
                                    BCH
                                </span>
                                <span class="m-widget24__stats m--font-danger">
                                    $567
                                </span>
                            </div>
                        </div>

                        <!--end::New Orders-->
                    </div>
                    <div class="col-md-12 col-lg-6 col-xl-3">

                        <!--begin::New Users-->
                        <div class="m-widget24">
                            <div class="m-widget24__item">
                                <h4 class="m-widget24__title">
                                    Total
                                </h4><br>
                                <span class="m-widget24__desc">
                                    Total Amount
                                </span>
                                <span class="m-widget24__stats m--font-success">
                                    $276
                                </span>
                            </div>
                        </div>

                        <!--end::New Users-->
                    </div>
                </div>
            </div>
        </div>

        <!--end:: Widgets/Stats-->

        <!--Begin::Section-->


        <!--Begin::Section-->
        <div class="row">
            <div class="col-xl-6">

                <!--begin:: Widgets/Support Cases-->
                <div class="m-portlet  m-portlet--full-height ">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                    Recent Activity
                                </h3>
                            </div>
                        </div>

                    </div>
                    <div class="m-portlet__body">
                            <div class="m-scrollable m-scroller ps ps--active-y" data-scrollable="true" data-height="380" data-mobile-height="300" style="height: 380px; overflow: hidden;">
                                <!--Begin::Timeline 2 -->
                                <div class="m-timeline-2">
                                    <div class="m-timeline-2__items  m--padding-top-25 m--padding-bottom-30">
                                        <div class="m-timeline-2__item">
                                            <span class="m-timeline-2__item-time">10:00</span>	
                                            <div class="m-timeline-2__item-cricle">									 
                                                <i class="fa fa-genderless m--font-danger"></i>									 
                                            </div>
                                            <div class="m-timeline-2__item-text  m--padding-top-5">
                                                Lorem ipsum dolor sit amit,consectetur eiusmdd tempor<br>
                                                incididunt ut labore et dolore magna                                           	                                	               
                                            </div>
                                        </div>
                                        
                                        <div class="m-timeline-2__item m--margin-top-30">
                                            <span class="m-timeline-2__item-time">16:00</span>
                                            <div class="m-timeline-2__item-cricle">	
                                                <i class="fa fa-genderless m--font-brand"></i>									 
                                            </div>
                                            <div class="m-timeline-2__item-text m--padding-top-5">
                                                Lorem ipsum dolor sit amit,consectetur eiusmdd tempor<br>
                                                incididunt ut labore et dolore magna elit enim at minim<br>
                                                veniam quis nostrud                                                            	                                
                                            </div>
                                        </div>
                                        <div class="m-timeline-2__item m--margin-top-30">
                                            <span class="m-timeline-2__item-time">16:00</span>
                                            <div class="m-timeline-2__item-cricle">	
                                                <i class="fa fa-genderless m--font-brand"></i>									 
                                            </div>
                                            <div class="m-timeline-2__item-text m--padding-top-5">
                                                Lorem ipsum dolor sit amit,consectetur eiusmdd tempor<br>
                                                incididunt ut labore et dolore magna elit enim at minim<br>
                                                veniam quis nostrud                                                            	                                
                                            </div>
                                        </div>
                                        <div class="m-timeline-2__item m--margin-top-30">
                                            <span class="m-timeline-2__item-time">16:00</span>
                                            <div class="m-timeline-2__item-cricle">	
                                                <i class="fa fa-genderless m--font-brand"></i>									 
                                            </div>
                                            <div class="m-timeline-2__item-text m--padding-top-5">
                                                Lorem ipsum dolor sit amit,consectetur eiusmdd tempor<br>
                                                incididunt ut labore et dolore magna elit enim at minim<br>
                                                veniam quis nostrud                                                            	                                
                                            </div>
                                        </div>
                                        <div class="m-timeline-2__item m--margin-top-30">
                                            <span class="m-timeline-2__item-time">17:00</span>
                                            <div class="m-timeline-2__item-cricle">	
                                                <i class="fa fa-genderless m--font-danger"></i>									 
                                            </div>
                                            <div class="m-timeline-2__item-text m--padding-top-5">
                                                Received a new feedback on <a href="#" class="m-link m-link--brand m--font-bolder">FinancePro App</a> product.                       	               
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--End::Timeline 2 -->
                            <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; height: 380px; right: 4px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 221px;"></div></div></div>
                        </div>
                </div>

                <!--end:: Widgets/Support Stats-->
            </div>
            <div class="col-xl-6">

                <!--begin:: Finance Stats-->
                <div class="m-portlet  m-portlet--full-height ">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                    Price Chart
                                </h3>
                            </div>
                        </div>

                    </div>
                    <div class="m-portlet__body">
                            <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                    </div>
                </div>

                <!--end:: Finance Stats-->
            </div>
        </div>

        <!--End::Section-->

        <!--Begin::Section-->
        <div class="row">
            <div class="col-xl-12">
                <div class="m-portlet m-portlet--mobile ">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                        Did you know?
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body">

                        <!--begin: Datatable -->
                        <p style="margin-bottom:0px">Want to set your own bitcoin fees? You can! Just click on ‘Customize Fee’ in the send screen.</p>

                        <!--end: Datatable -->
                    </div>
                </div>
            </div>
        </div>

        <!--End::Section-->
    </div>
</div>