<div class="m-grid__item m-grid__item--fluid m-wrapper">

    <!-- BEGIN: Subheader -->
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h3 class="m-subheader__title ">Exchange</h3>
                <button type="button" class="send_rec" data-toggle="modal" data-target="#send_modal"><i class="fas fa-arrow-alt-circle-up"></i>Send</button>
                <button type="button" class="send_rec" data-toggle="modal" data-target="#remove_modal"><i class="fas fa-arrow-alt-circle-down"></i>Receive</button>
            </div>

        </div>
    </div>

    <!-- END: Subheader -->
    <div class="m-content">

        <!--Begin::Section-->
        <div class="row">
            <div class="col-xl-12">
                <div class="m-portlet m-portlet--tabs">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-tools">
                            <ul class="nav nav-tabs m-tabs m-tabs-line   m-tabs-line--left m-tabs-line--primary" role="tablist">
                                <li class="nav-item m-tabs__item">
                                    <a class="nav-link m-tabs__link active show" data-toggle="tab" href="#m_builder_page"
                                        role="tab" aria-selected="true">
                                        EXCHNAGE
                                    </a>
                                </li>
                                <li class="nav-item m-tabs__item">
                                    <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_builder_left_aside1"
                                        role="tab" aria-selected="false">
                                        ORDER HISTORY
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--begin::Form-->
                    <div class="m-form m-form--label-align-right m-form--fit" action="" method="POST">
                        <div class="m-portlet__body">
                            <div class="tab-content">
                                <div class="tab-pane exchange_form active show" id="m_builder_page">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                                            <form class="buysell_form" action="">
                                                <div class="row form_n_group">
                                                    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                                                        <label>Exchange:</label>
                                                        <select class="form-control m-bootstrap-select m_selectpicker"
                                                            data-size="4">
                                                            <option>My wallet (4 BTH)</option>
                                                            <option>New Wallet (2 BTH)</option>
                                                        </select>
                                                    </div>
                                                    <div style="text-align:center" class="col-xs-12 col-sm-12 col-md-1 col-lg-1">
                                                        <label style="display:block">&nbsp;</label>
                                                        <button class="seprated_form"><i class="fas fa-exchange-alt"></i></button>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                        <label>Receive:</label>
                                                        <select class="form-control m-bootstrap-select m_selectpicker"
                                                            data-size="4">
                                                            <option>My wallet (4 BTH)</option>
                                                            <option>New Wallet (2 BTH)</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row form_n_group">
                                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                        <label for="">To:</label>
                                                        <div class="input-group">
                                                            <input type="text" class="form-control m-input" placeholder="Username"
                                                                aria-describedby="basic-addon2">
                                                            <div class="input-group-append">
                                                                <button type="button" style="padding:5px" class="input-group-text"
                                                                    id="basic-addon2">
                                                                    <i class="la la-qrcode" style="color:#000;font-size: 31px;"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row form_n_group">
                                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                        <label>Enter Amount</label>
                                                        <input class="form-control m-input" type="text">
                                                    </div>
                                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                        <label>&nbsp;</label>
                                                        <input class="form-control m-input" type="text">
                                                    </div>
                                                </div>
                                                <div class="row form_n_group">
                                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                        <label for="">Description:</label>
                                                        <div class="input-group">
                                                            <textarea class="form-control m-input" placeholder="What's this transaction for?"
                                                                rows="3" aria-describedby="basic-addon2">
                                                                </textarea>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row form_n_group">
                                                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                                        <label>Transaction Fee:</label>
                                                        <select class="form-control m-bootstrap-select m_selectpicker"
                                                            data-size="4">
                                                            <option>Regular</option>
                                                            <option>Priority</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                                        <label style="padding-top: 20px;">O BTC ($0.00)</label>

                                                        <span style="color: #2196F3;font-weight: 500;">Customize Fee</span>
                                                    </div>
                                                </div>
                                                <div class="row form_n_group">
                                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                        <label style="color: rgb(84, 84, 86);font-weight:300">Estimated
                                                            confirmation time 1+ hour</label>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1"></div>
                                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                            <h4 style="color: rgb(0, 74, 124);">Simple. Seamless. Secure.</h4>
                                            <p style="max-width:450px">You can exchange between bitcoin, ether, and bitcoin cash directly from
                                                your Blockchain wallet. In a few simple steps, your exchange will be in
                                                progress. Note: exchanges usually take between twenty minutes and two
                                                hours. Need help? <a href="">Contact Support</a></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane " id="m_builder_left_aside1">
                                   
                                </div>
                            </div>
                        </div>

                    </div>
                    <!--end::Form-->
                </div>
            </div>
        </div>

        <!--End::Section-->
    </div>
</div>
