<div class="m-grid__item m-grid__item--fluid m-wrapper">

        <!-- BEGIN: Subheader -->
        <div class="m-subheader ">
            <div class="d-flex align-items-center">
                <div class="mr-auto">
                    <h3 class="m-subheader__title ">Exchange</h3>
                    <button type="button" class="send_rec" data-toggle="modal" data-target="#send_modal"><i class="fas fa-arrow-alt-circle-up"></i>Send</button>
                    <button type="button" class="send_rec" data-toggle="modal" data-target="#remove_modal"><i class="fas fa-arrow-alt-circle-down"></i>Receive</button>
                </div>
    
            </div>
        </div>
    
        <!-- END: Subheader -->
        <div class="m-content">
    
            <!--Begin::Section-->
            <div class="row">
                <div class="col-xl-12">
                    <div class="m-portlet m-portlet--tabs">
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-tools">
                                <ul class="nav nav-tabs m-tabs m-tabs-line   m-tabs-line--left m-tabs-line--primary" role="tablist">
                                    <li class="nav-item m-tabs__item">
                                        <a class="nav-link m-tabs__link active show" data-toggle="tab" href="#m_builder_page"
                                            role="tab" aria-selected="true">
                                            BITCOIN
                                        </a>
                                    </li>
                                    <li class="nav-item m-tabs__item">
                                        <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_builder_left_aside1"
                                            role="tab" aria-selected="false">
                                            BITCOIN CASH
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--begin::Form-->
                        <div class="m-form m-form--label-align-right m-form--fit" action="" method="POST">
                            <div class="m-portlet__body port_pad">
                                <div class="tab-content">
                                    <div class="tab-pane exchange_form active show" id="m_builder_page">
                                       <h4 class="h4">Bitcoin Wallets</h4>
                                       <p>Wallets allow you to organize your funds into categories, like spending or savings. To see all of the individual addresses that have been generated for each wallet, click on ‘Manage‘.
                                        </p>
                                        <table class="table m-table m-table--head-bg-brand">
                                                <thead>
                                                  <tr>
                                                        <th>#</th>
                                                        <th>Wallet Name</th>
                                                        <th>Balance</th>
                                                        <th>Action</th>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                  <tr>
                                                        <th scope="row">1</th>
                                                        <td>My Bitcoin Wallet <a class="mybadge">Default</a></td>
                                                        <td>0 BTC</td>
                                                        <td><a href="">Manage</a></td>
                                                  </tr>
                                                  <tr>
                                                        <th scope="row">2</th>
                                                        <td>My Bitcoin Wallet 1</td>
                                                        <td>0 BTC</td>
                                                        <td><a href="">Manage</a></td>
                                                  </tr>
                                                  <tr>
                                                        <th scope="row">3</th>
                                                        <td>My Bitcoin Wallet 2</td>
                                                        <td>0 BTC</td>
                                                        <td><a href="">Manage</a></td>
                                                  </tr>
                                                  <tr>
                                                        <th scope="row">4</th>
                                                        <td>My Bitcoin Wallet 3</td>
                                                        <td>0 BTC</td>
                                                        <td><a href="">Manage</a></td>
                                                  </tr>
                                                  
                                                </tbody>
                                        </table>
                                        <br>
                                        <button type="button" data-toggle="modal" data-target="#add_address" class="add_new_btn">
                                            <i class="fas fa-plus"></i> New Wallet
                                        </button>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <h4 class="h4">Imported Bitcoin Addresses</h4>
                                        <p>Imported funds are not protected by your backup phrase. To ensure these funds are secured, please transfer them directly into your wallet.</p>
                                        <button class="add_new_btn1">
                                                <i class="fas fa-plus"></i> Import Bitcoin Address
                                        </button>
                                    </div>
                                    <div class="tab-pane " id="m_builder_left_aside1">
                                        B
                                    </div>
                                </div>
                            </div>
    
                        </div>
                        <!--end::Form-->
                    </div>
                </div>
            </div>
    
            <!--End::Section-->
        </div>
    </div>
    <div class="modal fade" id="add_address" tabindex="-1" role="dialog" aria-labelledby="add_address" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" >Add New Bitcoin Wallet</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" style="padding-bottom:10px;">
                       <label for="">Wallet Name</label>
                       <input type="text" class="form-control">
                    </div>
                    <div class="modal-footer" style="border-color: transparent;padding-top: 0px;">
                        <button style="width:100%" type="button" class="btn btn-primary">Create New Bitcoin Wallet</button>
                    </div>
                </div>
            </div>
        </div>