@import url(https://fonts.googleapis.com/css?family=Montserrat);
[class^="fa-"], [class*=" fa-"] {
    padding-right: 8px;
}
button.add-wallet.add_new_btn{
    padding: 10px 15px;
}
button.add_new_btn1 {
    padding: 10px 15px;
}
div#m_table_1_wrapper table thead{
    background: linear-gradient(#383fcf, #971eff);
    color: #fff;
}
.show{
    padding: 0 28px;
}
#button {
    color: #fff !important;
    background: #7F00FF;
    background: linear-gradient(to right, #1b1b91, #7F00FF);
}
.seprated_form {
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    color: #333232;
    cursor: pointer;
    position: relative;
    right: 11px;
}
.set-lock {
    background: #f2f3f8;
    padding: 10px 20px;
    border-radius: 4px;
}
img.wallet-img {
    top: 6px;
    width: 45px;
    position: relative;
    padding-right: 7px;
}
.left-icn{
    padding-right: 0px;
}
a#m_aside_left_minimize_toggle {
    display: none !important;
}
.m-portlet.m-portlet--full-height.height-btm {
    background: linear-gradient(90deg, #0290a0, #00c5dc);
}
.m-portlet.m-portlet--full-height.height-btm2 {
    background: linear-gradient(90deg, #7c0d9c, #59219d);
}
h3.m-portlet__head-text.graph-titl {
    color: #fff !important;
    font-size: 35px !important;
}
h3.partner-sale {
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    text-align: center;
}

.requiredfield {
    color: red;
    margin-left: 4px;
    font-size: 14px;
}
.hinditab {
    float: right;
    margin-top: 1px;
    color: #f21111;
}
.input-error {
    border-color: red;
}
/*=====index header=====*/
header#m_header {
    background-image: linear-gradient(45deg, #381768, #383fcf);
}
div#m_aside_left {
    background-image: url(assets/images/bb.jpg) !important;
    background-size: cover !important;
}
table.contact-info td {
    padding: 11px 29px;
    vertical-align: top;
}
.contact-infor {
    font-size: 21px;
    padding-right: 8px;
}
h3.m-subheader__title.con-heading {
    border-bottom: 1px solid #ebedf2;
    padding-bottom: 10px;
    font-size: 1.3rem;
    color: #170ca7;
}
table.table.table-hover.raise-tic th {
    font-weight: 600;
}
.raise-btn {
    float: right;
    margin-top: -51px;
}

img.qr-code-pop {
    width: 50%;
    position: relative;
    left: 25%;
    right: 25%;
}
td.sent {
    color: #fd6747;
}
td.recevied {
    color: #2ecc71;
}
select#sel1 {
    border-radius: 0;
}
input.inpt {
    margin-top: 15px;
    padding: 7px 0;
}
.row.form_n_group{
    margin-top: 10px;
    padding: 0 10px;
}
label {
    margin-bottom: 3px;
    font-weight: 400;
}
button#button {
    margin-bottom: 16px;
    margin-top: 10px;
}
.coin-qty {
    font-size: 16px !important;
}
.coin-sec {
    color: #7b7e8a !important;
    font-weight: 300 !important;
    padding-top: 1px;
}
.value-sec {
    float: right;
}
span.m-widget14__legend-bullet.m--bg-new {
    background: #f4516c;
}
h3.m-portlet__head-text {
    font-size: 1.3rem;
    font-weight: 600;
    color: #170ca7;
}
.sale-price{
    color: #fff;
    font-size: 37px;
    font-weight: 300;
    position: relative;
    top: 17px;
}
.up-btns-arrow{
    font-size: 15px;
    position: relative;
    top: 1px;
}
.down-btns-arrow{
    font-size: 15px;
    position: relative;
    top: 1px;
}


/*======Wallet Page ========*/

th.action {
    padding-left: 44px;
}
p.para-wallet {
    padding: 10px 0;
}
.exch-image{
    width: 100%;
    /* box-shadow: 0 0 11px 0px rgba(0,0,0,.2); */
    margin-top: 12px;
    padding: 4px;
}



/*custom font*/


/*basic reset*/
* {
    margin: 0;
    padding: 0;
}



/*form styles*/
#msform {
    text-align: center;
    position: relative;
    margin-top: 30px;
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;

    /*stacking fieldsets above each other*/
    position: relative;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}

/*inputs*/
#msform input, #msform textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 13px;
}

#msform input:focus, #msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #ee0979;
    outline-width: 0;
    transition: All 0.5s ease-in;
    -webkit-transition: All 0.5s ease-in;
    -moz-transition: All 0.5s ease-in;
    -o-transition: All 0.5s ease-in;
}

/*buttons*/
#msform .action-button {
    width: 100px;
    background: #ee0979;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#msform .action-button:hover, #msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #ee0979;
}

#msform .action-button-previous {
    width: 100px;
    background: #C5C5F1;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#msform .action-button-previous:hover, #msform .action-button-previous:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #C5C5F1;
}

/*headings*/
.fs-title {
    font-size: 18px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-weight: bold;
}

.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}

/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}

#progressbar li {
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    font-size: 9px;
    width: 33.33%;
    float: left;
    position: relative;
    letter-spacing: 1px;
}

#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 24px;
    height: 24px;
    line-height: 26px;
    display: block;
    font-size: 12px;
    color: #333;
    background: white;
    border-radius: 25px;
    margin: 0 auto 10px auto;
}

/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1; /*put it behind the numbers*/
}

#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before, #progressbar li.active:after {
    background: #ee0979;
    color: white;
}


/* Not relevant to this form */
.dme_link {
    margin-top: 30px;
    text-align: center;
}
.dme_link a {
    background: #FFF;
    font-weight: bold;
    color: #ee0979;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 5px 25px;
    font-size: 12px;
}

.dme_link a:hover, .dme_link a:focus {
    background: #C5C5F1;
    text-decoration: none;
}

/*======== End ============*/
#regForm {
    background-color: #ffffff;
    margin: 0px auto;
    padding: 5px;
    width: 100%;
    min-width: 300px;
}

/* Style the input fields */
input {
    padding: 8px;  
    width: 100%;

    font-family: Raleway;
    border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
    background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
    display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

/* Mark the active step: */
.step.active {
    opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
    background-color: #4CAF50;
}
/* code to display popups */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 300px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
input[type=checkbox]{
  -webkit-appearance:checkbox;
}


